---
import Layout from "@/layouts/Main.astro";
import { PRODUCTS } from "@/data/consts";

const slug = Astro.params.slug;

const product = PRODUCTS.find((product) => product.slug === slug);

if (!product) {
    return {
        status: 404
    };
}

const { title, description, slashColor, image } = product;
---

<Layout>
    <main class="w-full h-[100dvh] flex flex-col items-center justify-center gap-8">
        <h2 class="text-3xl font-pacifico" transition:name={`title ${slug} fade`}>
            {title}
        </h2>
        <p class="max-w-[35ch] text-justify" transition:name={`description ${slug} fade`}>
            {description}
        </p>
        <img
            src={`/products/${image}`}
            alt={`Foto del producto ${title}`}
            class="w-80 aspect-square object-cover rounded-lg"
            transition:name={`image ${slug} fade`}
        />

        <a href="/" class="text-blue-500 underline" transition:name={`back ${slug} fade`}>
            Volver al inicio
        </a>

        <!-- <div
            class="absolute inset-0 z-[-1] opacity-50 w-full h-full"
            style="background: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(255,0,0,1) 100%);"
        >
        </div> -->
    </main>
</Layout>
